.sidebar .nav-item a
{
    margin: 25px 0px;
}
table.produk
{
    width: 67em;
}
table.produk tr, table.produk tr th, table.produk tr td
{
    border: 1px solid black;
    text-align: center;
}

/* BTN */
.btn-img
{
    background: grey;
    width: 10em;
    height: 10em;
}
.btn-img p
{
    width: 100%;
    color: black;
    text-decoration: none;
}